@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:wght@100;700&family=Roboto+Mono:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    height: 88vh;
    position: relative;
}

.main .box{
    height: 88vh;
    width: 100%;
    opacity: 0.55;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero >:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    text-align: center;
}

.hero >:nth-child(2){
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;

}

.hero >:nth-child(3){
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(66, 66, 66);
}

.btn{
    padding: 3px 8px;
    font-weight: 580;
    color:white;
    background-color: rgba(207, 203, 203, 0.055);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;


}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23,0.8);
    border: 1px solid rgba(194, 191, 191, 0.6);
}

.first{
    height: 80vh;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secImg{
    position: relative;
    top: 8px;
}

.secImg img{
    width: 550px;
    position: relative;
    z-index: 10;
    
}

.secImg video{
    position: absolute;
    top: 104px;
    right: 2px;
    width: 480px;
    height: 58%;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

section.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;
    
}

.faq h2{
    text-align: center;
    font-size: 42px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faq-box:hover{
    background-color: #414141;
    color: white;
}

.faq-box{
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 34px;
    margin-left: -36px;
    font-size: 20px;
    font-weight: 500;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px){
    nav{
        min-width: 90vw;
    }
    

nav {
    width: 45vw;
    margin: 1px 18px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    padding-top: 10px;
    width: 102px;
    position: relative;
    z-index: 10;
}

.main input {
    padding: 8px 70px 10px 22px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23,0.8);
    border: 1px solid rgba(194, 191, 191, 0.6);
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
}

    .first{
        flex-wrap: wrap;
    }
    .secImg {
        position: relative;
        top: -12px;
    }

    section.first > div {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        text-align: center;
    }

    section.first > div :first-child {
        font-size: 28px;
        font-weight: bolder;
    }
    section.first > div :nth-child(2) {
        font-size: 14px;
        text-align: center;
    }
    .first {
        height: 60vh;
        display: flex;
        justify-content: center;
        max-width: 70vw;
        margin: auto;
        color: white;
        justify-content: center;
        align-items: center;
    }

    section.first, .second > div {
        /* display: flex;
        flex-direction: column; */
        padding: 20px 0px;
    }

    section.first, .fourth > div {
        /* display: flex;
        flex-direction: column; */
        padding: 20px 0px;
    }


    .secImg img{
        width: 260px; 
    }
   .secImg video {
    position: absolute;
    top: 60px;
    right: 2px;
    width: 224px;
    height: 48%;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
}
    .hero >:nth-child(1){
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
    .hero >:nth-child(2) {
        margin: 1rem 0 0;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .hero >:nth-child(3) {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .hero-buttons{
        color: white
    }

    section.first > div :first-child {
        font-size: 28px;
        font-weight: bolder;
    }

    section.first > div :nth-child(2) {
        font-size: 14px;
        text-align: center;
    }
    .faq {
        background-color: black;
        color: white;
        padding: 25px;
    }

    .faq h2{
        text-align: center;
        font-size: 32px;
    }

    .faq-box {
        transition: all 1s ease-out;
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        /* background-color: #2d2d2d; */
        padding: 14px;
        max-width: 65vw;
        margin: 8px auto;
        cursor: pointer;
    }
    
    footer{
        min-width: 90vw;
    }


    .footer-item{
        align-items: center;
    }

}

@media screen and (max-width: 1300px){

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }


    footer .questions {
        padding: 34px;
        margin-left: -33px;
        font-size: 18px;
        font-weight: 500;
    }
   
}

.footer a{
    font-size: 16px;
    color:white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
